.terminal {
  font-family: 'Source Code Pro', monospace;
  padding: 8px;
  height: 480px;
  background: #000;
  color: #fff;
  opacity: 0.8;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-bottom-left-radius: 5px;
  overflow-y: auto;
  margin-bottom: 50px;
  animate: 1s fadein;
}

.cli {
  display: flex;
}

.prompt {
  color: rgb(189, 227, 113);
}

.path {
  color: rgb(94, 215, 255);
  margin: 0 4px;
}
